<launch>

    <!-- <rosparam file="$(find qt_robot_config)/config.yaml" command="load" /> -->
    <node pkg="hci_face_bridge" type="start_browser.py" name="start_browser" output="screen"/>
    <node pkg="hci_face_bridge" type="gesture_bridge.py" name="gesture_bridge" output="screen"/>

    <!-- <include file="$(find cordial_sound)/launch/sound_listener.launch" />
    <include file="$(find audio_capture)/launch/capture.launch">
        <arg name="format" value="wave"/>
    </include> -->
</launch>
