body
{
  background-color: #FFF;
  /* background: radial-gradient(#0e0000, #9198e5); */
  /* border: 1px solid lightblue; */
  color: #FFF;
}
.is-hidden {
  display: none;
}
/* BOT */

#robot-container
{
  width: 100%;
  height: 100%;
  /* border : 1px solid rgb(255, 0, 0); */
}
#bot
{
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  min-width: 10em;
  min-height: 10em;
  /* max-width: 24em;
  max-height: 24em; */
  /* border: 3px solid lightblue; */
  margin: 0 auto;
  /* rotate: 1deg */
}

#head
{
  position: relative;
  /* margin-top: 5%; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  /* border : 1px solid yellow; */
}

